body{
    margin: 0;
}
.section-header{
    background-color: rgb(26, 21, 94);

}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
li {
    float: left;
}
  
a {
    display: block;
    padding: 12px;
    
}
.video-port{
    width: 420px;
    height: 350px;
}